<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
    NETIMMO
  </a>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>
<div class="container-fluid">
   <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
         <div class="sidebar-sticky">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
               <span>Propriétaires</span>
               <a class="d-flex align-items-center text-muted" href="#">
               <span data-feather="plus-circle"></span>
               </a>
            </h6>
            <ul class="nav flex-column mb-2">
               <li class="nav-item">
                  <a class="nav-link" href="#">
                    Ajouter
                  </a>
                  <a class="nav-link" href="#">
                    Liste
                  </a>
               </li>
            </ul>
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
               <span>Biens immobiliers</span>
               <a class="d-flex align-items-center text-muted" href="#">
               <span data-feather="plus-circle"></span>
               </a>
            </h6>
            <ul class="nav flex-column mb-2">
               <li class="nav-item">
                  <a class="nav-link" href="#">
                    Ajouter
                  </a>
                  <a class="nav-link" href="#">
                    Liste
                  </a>
               </li>
            </ul>
         </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
         <div>
            <router-outlet></router-outlet>
         </div>
      </main>
   </div>
</div>